$projectsBodyColor: #FFF0E2;

.main-nav-projects{
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  padding: 3vh 0;
  a{
    font-size: 1.3rem;
  }
}
.title-filters{
  width: 100vw;
  text-align: end;
  height: 2rem;
}
.subFilter-nav-projects{
  display: flex;
  justify-content: end;
  margin-bottom: 2vh;
}
.projects-container{
  height: 100vh;
  background-color: $projectsBodyColor !important;
}
.grid-container{
  margin:6vh;
  display: flex;
  justify-content: center;
  padding-top:2vh ;

  .project--title{
    width: 0%;
    margin: 2rem 0;
    //padding-bottom: 4rem;
  }
  .project--button-success{
    display: block;
    position: absolute;
    margin: 6rem 0;
  }
}
.expandedCard{
  width: 100vh !important;
  height: 100% !important;
}
