$projectsBodyColor: #FFF0E2;

.main-nav-projects{
  display: flex;
  justify-content: center;
  padding-bottom: 1vh;
  a{
    font-size: 1.3rem;
  }
}
.subFilter-nav-projects{
  display: flex;
  justify-content: end;
  margin-bottom: 2vh;
}
.projects-container{
  height: 100vh;
  background-color: $projectsBodyColor !important;
}
.grid-container{
  margin:6vh;
  display: flex;
  justify-content: center;
  padding-top:2vh ;
}
.expandedCard{
  width: 100vh !important;
  height: 100% !important;
}
